.candidate {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 5rem;
    padding: 0 0.5rem;
    color: #fff;
    margin-top: 1px;
    background-color: #222;
    gap: 0.5rem;

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.3rem;
    }

    &__name {
        font-size: 1.3rem;
        font-weight: bold;
        color: #fff;
    }

    &__comments {
        color: rgb(141, 140, 140);
    }
}

.candidate:hover {
    background-color: #272727;
}

.candidate:hover .step__buttons,
.candidate:hover .edit__buttons {
    visibility: visible;
}

.btn {
    display: flex;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    padding: 0.4rem;
}

.step__buttons {
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
    visibility: hidden;
}

.edit__buttons {
    margin-left: auto;
    display: flex;
    gap: 0.5rem;
    visibility: hidden;
}


@media screen and (min-width: 1024px) {

}