.overlay {
    background-color: black;
    position: fixed;
    inset: 0;
    opacity: 0.7;
}

.form {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #fff;
    padding: 1.8rem;
    border-radius: 6px;
    width: 100%;
    max-width: 400px;

    &__title {
        font-size: 2rem;
    }

    &__group {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;

        &__name {
            min-height: 2rem;
        }

        &__comments {
            min-height: 4rem;
        }
    }

    &__buttons {
        margin-left: auto;
        display: flex;
        gap: 0.6rem;
        margin-top: 1rem;
    }
}

.btn {
    border: none;
    border-radius: 6px;
    padding: 0.5rem 0.7rem;
    cursor: pointer;

    &__submit {
        @extend .btn;
        background-color: #222;
        color: #fff;
    }

    &__cancel {
        @extend .btn;
        background-color: #fff;
        border: 2px solid #222;
        color: #222;
    }
}
